:root {
  --montserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
  --serif: "PT Serif", serif;
}

.heading {
  grid-area: hd;
  font-family: var(--serif);
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

.description {
  grid-area: dt;
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

h2 {
  font-weight: 600;
  font-size: 18px;
}

img {
  width: 238px;
}

.title {
  font-family: var(--serif);
  font-weight: 400;
  font-size: 12px;
}

.name {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 18px;
}

.footer {
  grid-area: ft;
  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 14px;
  color: rgba(169, 169, 169, 1);
  text-align: center;
}

a {
  font-weight: 700;
  color: rgba(169, 169, 169, 1);
}
